<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Destinations</a>
                <div class="dropdown-content">
                    <a href="https://awesometraveldestinations.onrender.com/destination/1/">Antigua</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/8/">Belize</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/3/">Cancun</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/7/">Montego Bay</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/2/">Aruba</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/5/">Bahamas</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/4/">Costa Rica</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/6/">Punta Cana</a>
                </div>
            </li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'travel_blog' %}">Travel Blog</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li class="search-bar">
                <form id="search-form" method="get" action="{% url 'search_results' %}">
                    <input type="text" id="search-query" name="query" placeholder="Search...">
                    <button type="submit" id="search-button">Go</button>
                </form>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="main">
            <h1>About Us</h1>
            <p>Welcome to our travel site. We specialize in providing detailed information on the world's best destinations. Our mission is to help you plan your dream vacation with ease and excitement.</p>
        </div>
    </div>
    <footer>
        <!-- Footer code here -->
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
