{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Destinations</a>
                <div class="dropdown-content">
                    <a href="https://awesometraveldestinations.onrender.com/destination/1/">Antigua</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/8/">Belize</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/3/">Cancun</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/7/">Montego Bay</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/2/">Aruba</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/5/">Bahamas</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/4/">Costa Rica</a>
                    <a href="https://awesometraveldestinations.onrender.com/destination/6/">Punta Cana</a>
                </div>
            </li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'travel_blog' %}">Travel Blog</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li class="search-bar">
                <form id="search-form" method="get" action="{% url 'search_results' %}">
                    <input type="text" id="search-query" name="query" placeholder="Search...">
                    <button type="submit" id="search-button">Go</button>
                </form>
            </li>
        </ul>
    </div>

    <div class="container-top">
        <div class="main">
            <h1>Gallery</h1>
            <h3>Explore beautiful images from various destinations.</h3>
            <p>Cancun, Montego Bay, Aruba, Bahamas, Punta Cana, Costa Rica, Belize...</p>
        </div>
    </div>

    <div class="gallery">
        <h1>Carousel</h1>
        <p>Click at left and swing to right to rotate it (or oposite).</p>
        <h3>Aruba</h3>
        <div class="container">
            <!-- Aruba Section -->
            <div class="container-carousel" id="carousel-aruba">
                <div class="carousel">
                    <div class="carousel-item active">
                        <img src="{% static 'images/aruba.jpg' %}"loading="lazy" alt="Aruba1">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/aruba2.jpg' %}"loading="lazy" alt="Aruba2">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/aruba3.jpg' %}" loading="lazy" alt="Aruba3">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/aruba4.jpg' %}"loading="lazy" alt="Aruba4">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/aruba5.jpg' %}"loading="lazy" alt="Aruba5">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/aruba6.jpg' %}" loading="lazy" alt="Aruba6">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/aruba7.jpg' %}" loading="lazy" alt="Aruba7">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/aruba8.jpg' %}" loading="lazy" alt="Aruba8">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/aruba9.jpg' %}"loading="lazy" alt="Aruba9">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/aruba10.jpg' %}"loading="lazy" alt="Aruba10">
                    </div>
                </div>
            </div>
        </div>
        <h3>Antigua</h3>
        <div class="container">
            <!-- Antigua Section -->
            <div class="container-carousel" id="carousel-antigua">
                <div class="carousel">
                    <div class="carousel-item active">
                        <img src="{% static 'images/antigua.jpg' %}" loading="lazy" alt="Antigua1">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/antigua2.jpg' %}" loading="lazy" alt="Antigua2">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/antigua3.jpg' %}"loading="lazy" alt="Antigua3">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/antigua4.jpg' %}" loading="lazy" alt="Antigua4">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/antigua6.jpg' %}" loading="lazy" alt="Antigua5">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/antigua7.jpg' %}" loading="lazy" alt="Antigua6">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/antigua8.jpg' %}" loading="lazy" alt="Antigua7">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/cocos_antigua4.jpg' %}" loading="lazy" alt="Antigua8">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/cocos-hotel-antigua5.jpg' %}" loading="lazy" alt="Antigua9">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/antigua9.jpg' %}" loading="lazy" alt="Antigua10">
                    </div>
                </div>
            </div>
        </div>

        <h3>Belize</h3>
        <div class="container">
            <!-- Belilze Section -->
            <div class="container-carousel" id="carousel-aruba">
                <div class="carousel">
                    <div class="carousel-item active">
                        <img src="{% static 'images/belize.jpg' %}" loading="lazy" alt="Belize1">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/belize2.jpg' %}" loading="lazy" alt="Belize2">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/belize3.jpg' %}" loading="lazy" alt="Belize3">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/belize4.jpg' %}" loading="lazy" alt="Belize4">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/belize5.jpg' %}" loading="lazy" alt="Belize5">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/belize6.jpg' %}" loading="lazy" alt="Belize6">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/belize7.jpg' %}" loading="lazy" alt="Belize7">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/belize8.jpg' %}" loading="lazy" alt="Belize8">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/belize10.jpg' %}" loading="lazy" alt="Belize9">
                    </div>
                </div>
            </div>
        </div>

        <h3>Cancun</h3>
        <div class="container">
            <!-- Cancun Section -->
            <div class="container-carousel" id="carousel-aruba">
                <div class="carousel">
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun.jpg' %}" loading="lazy" alt="Cancun1">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun3.jpg' %}" loading="lazy" alt="Cancun2">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun4.jpg' %}" loading="lazy" alt="Cancun3">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun5.jpg' %}" loading="lazy" alt="Cancun4">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun6.jpg' %}" loading="lazy" alt="Cancun5">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun7.jpg' %}" loading="lazy" alt="Cancun6">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun8.jpg' %}" loading="lazy" alt="Cancun7">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun9.jpg' %}" loading="lazy" alt="Cancun8">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun10.jpg' %}" loading="lazy" alt="Cancun9">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/cancun11.jpg' %}" loading="lazy" alt="Cancun10">
                    </div>

                </div>
            </div>
        </div>

        <h3>Montego Bay</h3>
        <div class="container">
            <!-- Montego Bay Section -->
            <div class="container-carousel" id="carousel-aruba">
                <div class="carousel">
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay.jpg' %}" loading="lazy" alt="Montego Bay1">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay1.jpg' %}" loading="lazy" alt="Montego Bay2">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay2.jpg' %}" loading="lazy" alt="Montego Bay3">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay3.jpg' %}" loading="lazy" alt="Montego Bay4">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay4.jpg' %}" loading="lazy" alt="Montego Bay">
                    </div>5
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay5.jpg' %}" loading="lazy" alt="Montego Bay">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay6.jpg' %}" loading="lazy" alt="Montego Bay">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay7.jpg' %}" loading="lazy" alt="Montego Bay">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay8.jpg' %}" loading="lazy" alt="Montego Bay8">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/montegobay9.jpg' %}" loading="lazy" alt="Montego Bay9">
                    </div>
                </div>
            </div>
        </div>

        <h3>Punta Cana</h3>
        <div class="container">
            <!-- Punta Cana Section -->
            <div class="container-carousel" id="carousel-aruba">
                <div class="carousel">
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana.jpg' %}" loading="lazy" alt="Punta Cana1">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana2.jpg' %}" loading="lazy" alt="Punta Cana2">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana3.jpg' %}" loading="lazy" alt="Punta Cana3">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana4.jpg' %}" loading="lazy" alt="Punta Cana4">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana5.jpg' %}" loading="lazy" alt="Punta Cana5">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana6.jpg' %}" loading="lazy" alt="Punta Cana6">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana7.jpg' %}" loading="lazy" alt="Punta Cana7">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana8.jpg' %}" loading="lazy" alt="Punta Cana8">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana9.jpg' %}" loading="lazy" alt="Punta Cana9">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/puntacana10.jpg' %}" loading="lazy" alt="Punta Cana10">
                    </div>
                </div>
            </div>
        </div>


        <h3>Costa Rica</h3>
        <div class="container">
            <!-- Costa Rica Section -->
            <div class="container-carousel" id="carousel-aruba">
                <div class="carousel">
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica3.jpg' %}" loading="lazy" alt="Costa-Rica1">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica4.jpg' %}" loading="lazy" alt="Costa-Rica2">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica5.jpg' %}" loading="lazy" alt="Costa-Rica3">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica6.jpg' %}" loading="lazy" alt="Costa-Rica4">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica7.jpg' %}" loading="lazy" alt="Costa-Rica5">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica8.jpg' %}" loading="lazy" alt="Costa-Rica6">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica13.jpg' %}" loading="lazy" alt="Costa-Rica7">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica10.jpg' %}" loading="lazy" alt="Costa-Rica8">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica11.jpg' %}" loading="lazy" alt="Costa-Rica9">
                    </div>
                    <div class="carousel-item active">
                        <img src="{% static 'images/costa-rica14.jpg' %}" loading="lazy" alt="Costa-Rica10">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <!-- Footer code here -->
        <p id="copy_right">&copy; 2024 BBT
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>