<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="navbar">
        <ul>
            <!-- Your navbar code -->
            <div class="navbar">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Destinations</a>
                        <div class="dropdown-content">
                            <a href="http://localhost:8000/search_results/?query=Antigua">Antigua</a>
                            <a href="http://localhost:8000/search_results/?query=Cancun">Cancun</a>
                            <a href="http://localhost:8000/search_results/?query=Montego">Montego Bay</a>
                            <a href="http://localhost:8000/search_results/?query=Aruba">Aruba</a>
                            <a href="http://localhost:8000/search_results/?query=Bahamas">Bahamas</a>
                            <a href="http://localhost:8000/search_results/?query=Costa Rica">Costa Rica</a>
                            <a href="http://localhost:8000/search_results/?query=Punta Cana">Punta Cana</a>
                        </div>
                    </li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'travel_blog' %}">Travel Blog</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li class="search-bar">
                        <form id="search-form" method="get" action="{% url 'search_results' %}">
                            <input type="text" id="search-query" name="query" placeholder="Search...">
                            <button type="submit" id="search-button">Go</button>
                        </form>
                    </li>
                </ul>
            </div>
        </ul>
    </div>

    <div class="container">
        <section class="main">
            <h1>Thank You!</h1>
            <p>Your message has been sent successfully. We will get back to you soon.</p>
            <a href="{% url 'index' %}">Return to Home</a>
        </section>
    </div>
    
    <footer>
        <!-- Footer code here -->
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
